<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>퇴근</title>
</head>
<body>
정상 퇴근
</body>
</html>

<!--
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EX03</title>
</head>
<body>
    <h1 th: text=|"${name}님 오늘도 고생하셨습니다"></h1>
  <table border = "1">
        <tr>
            <th>이름</th>
            <th>나이</th>
        </tr>
        <tr th:object="${exampleVO}">
            <td th:text="*{name}"></td>
            <td th:text="*{age}"></td>
        </tr>
    </table>
</body>
</html>


-->