<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
</head>
<body>
    <form action ="/ex/login" method = "post">
        <div>
    아이디를 입력하세요 : <input type = "text" name = "id" placeholder="아이디를 입력하세요">
        </div>
        <div>
    비밀번호를 입력하세요 : <input type = "password" name = "pw" placeholder="비밀번호를 입력하세요">
        </div>
    <button>로그인</button>
    </form>
</body>
</html>