<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>실패</title>
    <style>
        div#fail{
            display: flex;
            justify-content: center;
        }

    </style>
</head>
<body>
<div id="fail">
    <div>
        <img src="/fail.jpg">
    </div>
</div>
<div>
    <p style="text-align: center">강화에 실패하셨습니다.</p>
</div>

    <h1 th:text ="${strength} + '실패'"></h1>
</body>
</html>