<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>대성공</title>
    <style>
        div#superSuccess {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<div id="superSuccess">
    <div>
        <div>
            <img src="/super_weapon.png" width="300">
        </div>
        <div style="position: absolute; top: 0;">
            <img src="/happy.png" width="50">
        </div>
    </div>
    <div>
        <p th:text="'무기 공격력 : ' + ${strength}"></p>
    </div>
</div>
<h1 th:text ="${strength} + '증가'"></h1>
</body>
</html>