<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ERROR</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/error.css" type="text/css">
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Sorry</h1>
                <h2>Error - 작업을 다시 확인해 주세요.</h2>
            </div>
            <a href="javascript:history.go(-1)" style="color:#ff8b77; background:#fff">Go TO Back</a>
            <a href="/board/list">Go TO Board</a>
        </div>
    </div>
</body>
</html>